@import "~bootstrap/dist/css/bootstrap.css";

/* .container {
    background-image: url('https://image.shutterstock.com/image-vector/vector-template-blank-abstract-quote-260nw-1290180490.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */